{
  "CATALYST_SUPABASE_URL": "supabase-project-settings-api-url",
  "CATALYST_SUPABASE_ANON_KEY": "supabase-project-settings-api-projectApiKeys-anon-public",
  "CHALLENGES_URL": "repository-pa-tool-data-fund-challenges.json",
  "PROPOSALS_URL": "repository-pa-tool-data-fund-proposals.json",
  "ASSESSMENTS_PATH": "path-to-assessments-csv-local-storage"
}